.shape-top,
.shape-bottom {
  height: 12.5rem;
  width: 10rem;
  z-index: -1;

  position: absolute;
}

.shape-top {
  background-color: var(--clr-accent);
  border-radius: 61% 0% 10% 100% / 100% 10% 10% 60%;

  top: 0;
  right: 0;
}

.shape-bottom {
  background-color: var(--clr-tertiary);
  border-radius: 0% 100% 99% 1% / 30% 30% 70% 70%;
  bottom: 0;
  left: 0;
}
