* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(220, 43%, 97%);
  --clr-secondary-light: hsl(230, 34%, 46%);
  --clr-secondary-dark: hsl(231, 42%, 28%);
  --clr-tertiary: hsl(210, 65%, 92%);
  --clr-accent: hsl(53, 100%, 91%);
  --ff-primary: 'Poppins', sans-serif;
  --ff-accent: 'Pacifico', cursive;
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--clr-primary);
  font-family: var(--ff-primary);
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  place-content: center;

  position: relative;
}
